body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.light {
  --background-color: #f0f0f0;
  --text-color: #333;
}

body.dark {
  --background-color: #333;
  --text-color: #f0f0f0;
}

body.dark .bg-gray-50 {
  background-color: #444;
}

body.dark .text-gray-800 {
  color: #fff;
}

body.dark .text-gray-600 {
  color: #ccc;
}
body.dark .text-gray-700 {
  color: #fff;
}

body.dark .bg-gray-900 {
  background-color: #222;
}

body.dark .text-gray-900 {
  color: #fff;
}

body.dark .bg-blue-600 {
  background-color: #fff;
}

body.dark .text-blue-600 {
  color: #fff;
}